body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#4473cc;
    color: white;
    margin: auto;
    width: 100%;
    height: 100%;
}

header > h1{
    display: flex;
    justify-content: center;
    background-color: #719ED9;
    margin: auto;
    padding: 10px;
}


#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
 
}

#room-votation{
    display: flex;
}

#room-votation{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    padding : 10px
}

#user-votation{
width: 200px;
height: 250px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


#user-votation > span {
    color: black;
    background-color: white;
    width: 200px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    display: flex;
}


#user-votation > span > img {
max-width: 100%;
border-radius: 100%;
}


#votation-options{
    display: flex;
    position: fixed;
    bottom: 0;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding : 10px;
    max-height: 5rem;
    min-width: 5rem;
    overflow-y: scroll;
}

#votation-options  :hover{
    background-color: rgba(255, 255, 255, 0.74);
}
#votation-card {
    background-color: rgb(255, 255, 255);
    outline: 1px #1F54BF solid;
    color: #1F54BF;
    width: 3rem;
    height: 4rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    display: flex;  
    cursor: pointer;
}
